# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/
*.pkl
*.pickle

# Virtual environment
venv/
env/
ENV/
.venv/

.python-version

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# -------------------------
# Qt Designer / Qt Build
# -------------------------
*.ui~
*.qrc~
*.moc
*.obj
*.o
*.exe
*.dll
*.so
*.dylib
*.log
*.user
*.pro.user
*.pro.user.*
Makefile
build/
bin/
debug/
release/

# -------------------------
# Open3D
# -------------------------
*.ply
*.pcd
*.xyz
*.obj
*.stl
*.off

# -------------------------
# YOLO / Deep Learning
# -------------------------
*.pt
*.onnx
runs/
weights/
*.ckpt
*.log
*.yaml

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp

# -------------------------
# Environment / Config
# -------------------------
.env
config.yaml
